body {
    background-color: #222;
}

body::-webkit-scrollbar-track {
    border: 1px solid #000;
    padding: 2px 0;
  }

  body::-webkit-scrollbar {
    width: 10px;
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
  }
/* login page */
.bg-color-dark {
    background-color: #222;
}

.form_container {
    width: 100vw;
    height: 100vh;
}

.form_row {
    width: 500px;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-control {
    background-color: #222;
    text-align: center;
    border: 2px solid;
    height: 50px;
    width: 300px;
    border-radius: 25px;
    margin: 1.5rem auto;
}

.form-yellow {
    border-color: #d4bc35;
}

.form-blue {
    border-color: #3498db;
}

.form-input {
    transition: all 0.5s cubic-bezier(.81,-0.64,.63,.74);
    outline: none;
    color: #ddd;
}
.form-input:focus {
    width: 350px;
    background-color: #222;
    border-color: #6bd462;
    box-shadow: none;
    color: #ddd;
}
.form-input::placeholder {
    color: #888;
    transition: all 0.3s ease;
    line-height: 160px;
    text-align: center;
}
.form-input:focus::placeholder {
    color: #999;
    margin: auto;
}
.form-big {
    height: 180px;
    width: 400px;
    resize: none;
    text-align: left;
    padding: .6rem 1.2rem;
    overflow: hidden;
}
.form-big:focus {
    width: 450px;
}
.form-big:focus::placeholder {
    opacity: 0;
}
.form-btn {
    width: 200px;
    color: #aaa;
    transition: 0.3s color ease;
    border-width: 3px;
}
.form-btn:hover.form-blue {
    animation: btn-blue 1s infinite;
    color: #ccc;
}
.form-btn:hover.form-yellow {
    animation: btn-yellow 1s infinite;
    color: #ccc;
}

.form-btn:focus {
    background: #222;
    box-shadow: none;
}
.form-radio {
    color: #ddd;
}
.form_title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
}

.form-link {
    text-align: center;
    color: #888;
    text-decoration: none;
    transition: all 0.2s ease;
}
.form-link:hover {
    color: #aaa;
    text-decoration: none;

}

@keyframes btn-blue {
	0% {
		border-color: #3498db;
	}
	50% {
        border-color: #6bd462;
    }
	100% {
		border-color: #3498db;
	}
}
@keyframes btn-yellow {
	0% {
		border-color: #d4bc35;
	}
	50% {
        border-color: #6bd462;
    }
	100% {
		border-color: #d4bc35;
	}
}

/* /////////////////////////////////// */
/* notes */

.note__container {
    padding-left: 1.5rem;
}
.note__menu {
    text-align: right;
    padding: 3rem;
}


.note__heading {
    margin: 3rem;
    font-size: 6rem;
    font-weight: 200;
    letter-spacing: -2px;
}
.note__subheading {
    margin: 3rem;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: -2px;
}

.note__subheading strong {
    font-weight: 300;
}
.note__heading strong {
    font-weight: 300;
}

.note__element {
    text-decoration: none;
    transition: 0.3s color ease;
    border-width: 3px;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
    border-color: rgb(0, 225, 255);
    position: relative;
}

.note__delete {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: 2px solid white;
    color: white;
    background-color: #222;
    transform: translate(35%, -35%);
}

/* ///////////////////////////////////////// */

.button {
    display: block;
    height: 50px;
    width: 150px;
    margin: 0 3rem;
    padding: 0.55rem;
    color: #eee;
    text-decoration: none;
    transition: 0.5s all ease;
    border-width: 3px;
    background-color: #222;
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
}
.button:hover {
    color: #fff;
    font-weight: 500;
}

.button__logout {
    border-color: rgb(201, 0, 0);
}

.button__add-note {
    border-color: rgb(90, 224, 0);
}
.fa-times {
    font-size: 1.2rem;
    transition: transform 0.8s ease-out;
    text-align: center;
    padding: 6px 9px;
    color: #fff;

}
.fa-times:hover {
    transform: rotate(400deg);
    border-color: hsl(219, 100%, 50%);

}

